
[Bb]in
*.user
**/*.orig
*.bak
**/*.bak
*.suo
.DS_Store
*.psess
TestResults/
*.vsp
*.docstates
breakpoints.xml
.netrc
libs/
FrameworkTests/obj
FrameworkTests/bin
*.orig
*.vsmdi
testimpact*
*.Config
obj/
TestDatabase/
[Dd]ebug*/
[Rr]elease*/
*.zip
*.nupkg
packages/*
us.stackdump
_ReSharper*/
*.[Rr]e[Ss]harper

!packages.config

# Visual Studio cache/options directory
.vs/
